.view {
    width: 550px;
}

.description {
    cursor: pointer;
}

.icon {
    margin-left: 3px;
    width: 40px;
}

.view.done .description {
    text-decoration: line-through;
}

.view.important .description {
    font-weight: bold;
    color: steelblue;
}